---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Dr. Hard Disk" description="Data Recovery Services" lang="en">
  <h1>Welcome to Dr. Hard Disk (English)</h1>
  <p>Placeholder Page</p>
</BaseLayout>
