---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Dr. Hard Disk" description="Data Recovery Services">
  <h1>Welcome to Dr. Hard Disk (Arabic)</h1>
  <p>Placeholder Page</p>
</BaseLayout>
